<!-- Header -->
<%- include partials/header.ejs %>

<!-- Main Nav-->
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center"><%= title %></h1>
  </div>
</main>

<!-- Bottom Nav-->
<%- include partials/bottom_nav.ejs %>

<!-- footer -->
<%- include partials/footer.ejs %>
