<!-- Header -->
<%- include partials/header.ejs %>

<!-- Main Nav-->
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center"><%= title %></h1>

    <br />
    <br />

    <h3>Welcome to my website!</h3>

    <br />
    <br />

    <p>Welcome to the start of your journey to having your very own website!</p>
    <p>
      Mohamed Erwa will do everything to make your dream website become a
      reality!
    </p>

    <br />
    <br />

    <a class="btn btn-secondary" href="/about" role="button">Learn More</a>
  </div>
</main>

<!-- Bottom Nav-->
<%- include partials/bottom_nav.ejs %>

<!-- footer -->
<%- include partials/footer.ejs %>
