<!-- Header -->
<%- include partials/header.ejs %>

<!-- Main Nav-->
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center"><%= title %></h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img
          src="Assets/images/project_pic1.jpg"
          class="card-img-top"
          alt="Project 1"
        />
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">
            Mobile Application
          </h5>
          <p>
            Singlehandedly worked on creating a mobile application with a
            functional backend that supports user accounts and account
            management.
          </p>
          <p>
            It was an app where users can sign in using their email and password
            or use their social media accounts like Google, Facebook, and
            Twitter to log in. The app gave users a chance to win various
            amounts of money with a click of a button.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="Assets/images/project_pic3.png"
          class="card-img-top"
          alt="Project 3"
        />
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">
            Space Shooter Game
          </h5>
          <p>
            Developed a space shooter mobile game using Unity 3D. The game had various weapons, enemies, and levels.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Bottom Nav-->
<%- include partials/bottom_nav.ejs %>

<!-- footer -->
<%- include partials/footer.ejs %>
