<!-- 
Mohamed Erwa
301282137
COMP229 Sec004
Services Page
4/2/2023 
-->

<!-- Header -->
<%- include ('partials/header.ejs'); %>

<!-- Main Nav-->
<%- include ('partials/main_nav.ejs'); %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center"><%= title %></h1>
    <br />
    <br />

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="Assets/images/service_pic1.png"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Web Development</h5>
            <p class="card-text">
              Are you looking to create your very own website but don't know
              where to start? Well, look no further! We provide web Development
              services to help you create a website that fits all your needs
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="height: fit-content">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="Assets/images/service_pic2.jpeg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Mobile Application Development</h5>
            <p class="card-text">
              Do you have an App idea but don't have the knowledge to make it a
              reality? We offer services in mobile app development for both iOS
              and Android. We also offer consultation to provide additional
              input on ways to improve your mobile application.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="Assets/images/service_pic3.png"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">General Programming</h5>
            <p class="card-text">
              We offer various programming services in a wide variaty of
              programming languages including JAVA, JavaScript, C#, Python, and
              Ruby. Our programming services aslo includes backend applications
              using frameworks like Spring Boot and Maven.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Bottom Nav-->
<%- include ('partials/bottom_nav.ejs'); %>

<!-- footer -->
<%- include ('partials/footer.ejs'); %>
