<!-- 
Mohamed Erwa
301282137
COMP229 Sec004
Home Page
17/2/2023 
-->

<!-- Header -->
<%- include ('../partials/header.ejs'); %>

<!-- Main Nav-->
<%- include ('../partials/main_nav.ejs'); %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Contact Name"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="numberTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    id="numberTextField"
                    placeholder="Enter the Contact's Number"
                    name="number" required>
                </div>

                <div class="form-group">
                    <label for="emailTextField">Contact Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter Contact Email"
                    name="email" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<!-- Bottom Nav-->
<%- include ('../partials/bottom_nav.ejs'); %>

<!-- footer -->
<%- include ('../partials/footer.ejs'); %>